body {
    margin: 0;
}

.titulo {
    text-align: center;
    font-size: 50px;
}

/* Estilo para o formulário */
#form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    /*text-align: center; */
}

/* Estilo para o navbar */
.info {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* text-align: right; */
}

/* Estilo para o botão do navbar */
.info button {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para o botão do navbar quando o cursor passa por cima */
.info button:hover {
    background-color: #45a049;
}

.info h3 {
    color: white;
    margin: 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

/* Estilo para os rótulos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilo para o botão de envio */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: #45a049;
}